/.vscode
/00 아직 못품
/main.png
/ruby
a.txt
.cph
Notes.txt
asd.py
asdf.py
asdfg.py
asdfgh.py
asdfghj.py
b.txt
c.txt
asdf.cpp
asdf.exe
get-pip.py
graph/graphdrew.py
secret.dic
worlde.py
.fleet/run.json
d.txt
.gitignore
wikinames.txt
res.txt
